<div id="map"></div>
<!--   <div class="modal">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-close">&#10006;</div>
      <div class="modal-body">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div> -->

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
